<div>
    <h2>Дерево 1</h2>
    <app-tree-view [nodes]="getRootTreeByIndex(treeNodes, 0)"
                   [nodeTemplate]="firstTree">

    </app-tree-view>
</div>

<div style="margin-top: 30px;">
    <h2>Дерево 2</h2>
    <app-tree-view [nodes]="getRootTreeByIndex(treeNodes, 1)"
                   [nodeTemplate]="secondTree">

    </app-tree-view>
</div>

<ng-template #firstTree let-node>
    <div class="node-wrapper">
        <div class="node-details" [ngClass]="{'deleted': node.is_deleted}">
            <div class="node-item">
                <span class="node-label">ID:</span>
                <span>{{ node.id }}</span>
            </div>
            <div class="node-item">
                <span class="node-label">Title:</span>
                <span>{{ node.title }}</span>
            </div>
        </div>
        <div class="node-action">
            <button (click)="informInConsole(node)">Узнать Id</button>
        </div>
    </div>
</ng-template>

<ng-template #secondTree let-node let-expandAll="expandAll">
    <div class="node-wrapper">
        <div class="node-details" [ngClass]="{'deleted': node.is_deleted}">
            <div class="node-item">
                <span class="node-label">Title:</span>
                <span class="node-value">{{ node.title }}</span>
            </div>
            <div class="node-item" *ngIf="node?.children">
                <span class="node-label"> Кол-во дочерних узлов:</span>
                <span class="node-value">{{ node?.children.length }}</span>
            </div>
        </div>
        <div class="node-action">
            <button (click)="expandAll()">Раскрыть все</button>
        </div>
    </div>
</ng-template>